<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".services.NotificationService"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyQuanCaPhe"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- MON -->
        <activity
            android:name=".activities.CapNhatThongTinMonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QuanLyMonActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activities.ThemMonActivity"
            android:exported="false" />

        <!-- NGUYEN LIEU -->
        <activity
            android:name=".activities.QuanLyKhoActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.ThemNguyenLieuActivity"
            android:exported="false" />

        <!-- KHU -->
        <activity
            android:name=".activities.QuanLyKhuActivity"
            android:exported="false"></activity>

        <!-- BAN -->
        <activity
            android:name=".activities.QuanLyBanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.ThemBanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CapNhatBanActivity"
            android:exported="false" />

        <!-- NHAN VIEN -->
        <activity
            android:name=".activities.CapNhatNhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ThemNhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CapNhatNguyenLieuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QuanLyNhanVienActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".activities.DangNhapActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".activities.MenuChucNangQuanLyActicity"
            android:exported="true"></activity>

        <activity
            android:name=".activities.CapNhatDatBanActivity"
            android:exported="true"></activity>



        <activity
            android:name=".activities.DanhSachBanActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DatBanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.DSBanDaDatActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.GioHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.DanhSachMonPhucVuActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.DanhSachMonKhaDungActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.DanhSachOderPhaCheActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.DanhSachMonHoanThanh_Activity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.DoiMatKhauActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.ThongKeHoaDonActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.HoaDonTaiBanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.PhieuHoaDonActivity"
            android:exported="true"></activity>
    </application>

</manifest>